<div class="bg-black flex items-center justify-center h-screen">
    <div id="content" class="container mx-auto p-8">
        <h1 class="text-3xl font-bold mb-4 text-white">Welcome, <span id="username-display">{{username}}</span>!</h1>
        <h2 id="balance-display" class="text-xl font-bold mb-4 text-white">{{balance}}</h2>
        
        {{#if loggedIn}}
        <form action="/logout-btn" method="POST" class="inline">
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Logout
            </button>
        </form>
        {{else}}
        <form action="/login-btn-redirect" method="POST" class="inline">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Login
            </button>
        </form>
        {{/if}}
        
        <form action="/films-btn-redirect" method="POST" class="inline">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Browse Films
            </button>
        </form>

        <form action="/my-list-btn-redirect" method="POST" class="inline">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                My Films
            </button>
        </form>
    </div>
</div>
