<header class="bg-blue-900 p-4 text-white sticky bottom-0 w-full">
  <div class="mx-auto flex flex-row items-center justify-between">
    <h1 class="text-xl font-bold">Film Catalogue</h1>
    <nav class="">
      <ul class="flex space-x-4">
        <li><a href="/home-page" class="hover:underline">Home</a></li>
        <li><a href="/films-page" class="hover:underline">Browse films</a></li>
        <li><a href="/my-list-page" class="hover:underline">My films</a></li>
      </ul>
    </nav>
  </div>
</header>
